// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include <dt-bindings/input/input.h>
#include <dt-bindings/thermal/thermal.h>

#include "tegra124.dtsi"

#include "tegra124-tn8-emc.dtsi"
#include "tegra124-tn8-pinmux.dtsi"

/ {
	model = "NVIDIA SHIELD Tablet (TN8)";
	compatible = "nvidia,tn8", "nvidia,tegra124";

	aliases {
		mmc0 = &sdmmc4; /* eMMC */

		rtc0 = &palmas;
		rtc1 = "/rtc@0,7000e000";

		serial0 = &uartd; /* Console */

		serial1 = &uarta;
		serial2 = &uartb;
		serial3 = &uartc;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "panic=15 fbcon=rotate:3 gpt clk_ignore_unused root=/dev/mmcblk0p23 rootfstype=ext4 rw rootwait rootflags=defaults,noatime,nodiratime rootsubdir=/media/0/multirom/roms/nvleaf-0.0.2-dev/root";
		/* NVIDIA moment. God why is the SHIELD bootloader like this ??? */
		linux,initrd-start = <0x81680000>;
		linux,initrd-end = <0x82800000>;
	};

	memory@80000000 {
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	/* Another NVIDIA SHIELD bootloader moment */
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		bootloader_fb: bootloader-framebuffer@ad012000 {
			reg = <0x0 0xad012000 0x0 0x011e0000>;
			no-map;
		};

		framebuffer: framebuffer@f7c00000 {
			reg = <0x0 0xf7c00000 0x0 0x01200000>;
			no-map;
		};

		framebuffer2: framebuffer2@f8e00000 {
			reg = <0x0 0xf8e00000 0x0 0x04800000>;
			no-map;
		};

		nck: nck@fd700000 {
			reg = <0x0 0xfd700000 0x0 0x00100000>;
			no-map;
		};

		/* Downstream doesn't mention this area in its dmesg, but I was unable to remove it without causing a crash. */
		/* Oh well, it's 8.32 MB */
		would_be_freed_fd800000: would-be-freed@fd800000 {
			reg = <0x0 0xfd800000 0x0 0x007f0000>;
			no-map;
		};

		lp0: lp0@fdfff000 {
			reg = <0x0 0xfdfff000 0x0 0x00000820>;
			no-map;
		};

		tsec: tsec@fe000000 {
			reg = <0x0 0xfe000000 0x0 0x02000000>;
			no-map;
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 1 40000>;

		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;

		power-supply = <&en_lcd_bl>;
		enable-gpios = <&gpio TEGRA_GPIO(H, 1) GPIO_ACTIVE_HIGH>;
	};

	// UNFINISHED
	host1x@50000000 {
		dsi@54300000 {
			status = "okay";

			avdd-dsi-csi-supply = <&ldo5_reg>;

			panel@0 {
				compatible = "auo,b080uan01";
				reg = <0>;

				//avdd-supply = <&avdd_lcd>;
				power-supply = <&vddio_dvdd_lcd>;

				backlight = <&backlight>;
			};
		};
	};

	gpu@57000000 {
		status = "okay";
		vdd-supply = <&vdd_gpu>;
	};

	// UNKNOWN
	uarta: serial@70006000 {
		status = "okay";
		compatible = "nvidia,tegra124-hsuart";
	};

	// UNKNOWN
	uartb: serial@70006040 {
		status = "okay";
		compatible = "nvidia,tegra124-hsuart";
	};

	// UNKNOWN... Bluetooth ?
	uartc: serial@70006200 {
		status = "okay";
		compatible = "nvidia,tegra124-hsuart";
	};

	// Console
	uartd: serial@70006300 {
		status = "okay";
		compatible = "nvidia,tegra124-uart";
	};

	pwm@7000a000 {
		status = "okay";
	};

	i2c@7000c000 {
		status = "okay";
		clock-frequency = <400000>;

		// Couldn't get that to work with cm3232 or cm32181
		light@10 {
			compatible = "capella,cm3217";
			reg = <0x10>;
			vdd-supply = <&palmas_smps9_reg>;
		};

		imu@69 {
			compatible = "invensense,mpu6515";
			reg = <0x69>;

			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(S, 0) IRQ_TYPE_EDGE_RISING>;

			vdd-supply   = <&palmas_smps9_reg>;
			vddio-supply = <&palmas_smps8_reg>;
			mount-matrix = "-1", "0",  "0",
						"0",  "1",  "0",
						"0",  "0", "-1";

			i2c-gate {
				#address-cells = <1>;
				#size-cells = <0>;

				magnetometer@d {
					compatible = "asahi-kasei,ak8963";
					reg = <0x0d>;

					vid-supply = <&palmas_smps8_reg>;
					vdd-supply = <&palmas_smps9_reg>;

					mount-matrix = "-1", "0",  "0",
								"0",  "1",  "0",
								"0",  "0", "-1";
				};
			};
		};
	};

	// UNFINISHED
	i2c@7000c400 {
		status = "okay";
		clock-frequency = <100000>;

		/*bat: battery-gauge@0b {
			compatible = "onsemi,lc709203f";
			reg = <0x0b>;

			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(Q, 5) GPIO_ACTIVE_LOW>;

			power-supplies = <&charger>;

			onsemi,thermistor-beta = <0x0d6b>;
			onsemi,alert-low-rsoc = <0x0>;
			onsemi,alert-low-voltage = <0x0>;

			#thermal-sensor-cells = <0>;
		};*/

		charger: charger@6b {
			compatible = "ti,bq24193", "ti,bq24192";
			reg = <0x6b>;

			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(J, 0) GPIO_ACTIVE_LOW>;

			omit-battery-class;

			battery_charger: charger {
				regulator-name = "batt_regulator";
			};

			usb0_vbus: usb-otg-vbus {
				regulator-name = "vbus_regulator";
			};
		};

		power-monitor@40 {
			compatible = "ti,ina3221";
			reg = <0x40>;
			#address-cells = <1>;
			#size-cells = <0>;

			channel@0 {
				reg = <0x0>;
				label = "VDD_BAT";
				shunt-resistor-micro-ohms = <1000>;
			};

			channel@1 {
				reg = <0x1>;
				label = "VDD_USB_5V0";
				shunt-resistor-micro-ohms = <10000>;
			};

			channel@2 {
				reg = <0x2>;
				label = "VDD_SYS_MDM";
				shunt-resistor-micro-ohms = <1000>;
			};
		};
	};

	i2c@7000c500 {
		status = "okay";
		clock-frequency = <400000>;
	};

	i2c@7000c700 {
		status = "okay";
		clock-frequency = <100000>;
	};

	i2c@7000d000 {
		status = "okay";
		clock-frequency = <400000>;

		palmas: pmic@58 {
			compatible = "ti,tps65913", "ti,palmas";
			reg = <0x58>;
			interrupts = <GIC_SPI 86 IRQ_TYPE_LEVEL_HIGH>;

			#interrupt-cells = <2>;
			interrupt-controller;

			ti,system-power-controller;

			palmas_gpadc: adc {
				compatible = "ti,palmas-gpadc";
				interrupts = <18 IRQ_TYPE_NONE
					      16 IRQ_TYPE_NONE
					      17 IRQ_TYPE_NONE>;

				ti,channel0-current-microamp = <5>;
				ti,channel3-current-microamp = <400>;
				ti,enable-channel3-dual-current;
				ti,enable-extended-delay;

				#io-channel-cells = <1>;
			};

			palmas_extcon: extcon {
				compatible = "ti,palmas-usb-vid";

				ti,enable-vbus-detection;
				ti,enable-id-detection;

				ti,wakeup;
			};

			palmas_gpio: gpio {
				compatible = "ti,palmas-gpio";
				gpio-controller;
				#gpio-cells = <2>;
			};

			clk32kg_pmic: palmas-clk32kg@0 {
				compatible = "ti,palmas-clk32kg";
				#clock-cells = <0>;
			};

			// MIGHT NEED SOME CHANGES ?
			pinmux {
				compatible = "ti,tps65913-pinctrl";

				pinctrl-names = "default";
				pinctrl-0 = <&palmas_default>;

				palmas_default: pinmux {
					powergood {
						pins = "powergood";
						function = "powergood";
					};

					vac {
						pins = "vac";
						function = "vac";
					};

					pin_gpio0 {
						pins = "gpio0";
						function = "id";
						bias-pull-up;
					};

					pin_gpio1 {
						pins = "gpio1";
						function = "gpio";
						bias-disable;
					};

					pin_gpio6 {
						pins = "gpio2", "gpio3", "gpio4", "gpio6", "gpio7";
						function = "gpio";
					};

					pin_gpio5 {
						pins = "gpio5";
						function = "clk32kgaudio";
					};
				};
			};

			pmic {
				compatible = "ti,tps65913-pmic", "ti,palmas-pmic";
				ldo1-in-supply = <&palmas_smps6_reg>;
				ldo5-in-supply = <&palmas_smps8_reg>;
				ldo9-in-supply = <&palmas_smps9_reg>;
				ldoln-in-supply = <&palmas_smps10_out2_reg>;
				ldousb-in-supply = <&palmas_smps10_out2_reg>;

				regulators {
					/* CPU core voltage (SMPS123, 0.65–1.4V) */
					vdd_cpu: smps123 {
						regulator-name = "vdd-cpu";
						regulator-min-microvolt = <650000>;
						regulator-max-microvolt = <1400000>;
						regulator-always-on;
						regulator-boot-on;
					};

					/* GPU core voltage (SMPS45, 0.7–1.4V) */
					vdd_gpu: smps45 {
						regulator-name = "vdd-gpu";
						regulator-min-microvolt = <700000>;
						regulator-max-microvolt = <1400000>;
						regulator-init-microvolt = <1000000>;
						regulator-always-on; // --- Could be necessary
						//regulator-boot-on;
					};

					/* DDR voltage (SMPS6, fixed 1.35V) */
					palmas_smps6_reg: smps6 {
						regulator-name = "vddio-ddr";
						// regulator-min-microvolt = <1350000>;
						// regulator-max-microvolt = <1350000>;
						regulator-always-on;
						regulator-boot-on;
					};

					/* SoC core voltage (SMPS7, 0.7–1.4V) */
					vdd_core: smps7 {
						regulator-name = "vdd-core";
						regulator-min-microvolt = <700000>;
						regulator-max-microvolt = <1400000>;
						regulator-always-on;
						regulator-boot-on;
					};

					/* 1.8V I/O rail (SMPS8) */
					palmas_smps8_reg: smps8 {
						regulator-name = "vdd-1v8";
						//regulator-min-microvolt = <1800000>;
						//regulator-max-microvolt = <1800000>;
						regulator-always-on;
						regulator-boot-on;
					};

					/* 3.3V sensor / SDMMC3 rail (SMPS9) */
					palmas_smps9_reg: smps9 {
						regulator-name = "vdd-snsr";
						regulator-min-microvolt = <3300000>;
						regulator-max-microvolt = <3300000>;
						regulator-always-on;
						regulator-boot-on;
					};

					/* 5V output 1 (SMPS10_OUT1) */
					palmas_smps10_out1_reg: smps10_out1 {
						regulator-name = "vdd-out1-5v0";
						regulator-min-microvolt = <5000000>;
						regulator-max-microvolt = <5000000>;
					};

					/* 5V output 2 (SMPS10_OUT2) */
					palmas_smps10_out2_reg: smps10_out2 {
						regulator-name = "vdd-out2-5v0";
						regulator-min-microvolt = <5000000>;
						regulator-max-microvolt = <5000000>;
					};

					/* PLL supply (LDO1, 1.05V) */
					ldo1 {
						regulator-name = "avdd-pll";
						//regulator-min-microvolt = <1050000>;
						//regulator-max-microvolt = <1050000>;
						regulator-always-on;
						regulator-boot-on;
					};

					/* LCD AVDD / touch analogue (LDO2, 3.3V) */
					avdd_lcd: ldo2 {
						regulator-name = "avdd-lcd";
						regulator-min-microvolt = <3300000>;
						regulator-max-microvolt = <3300000>;
						regulator-boot-on;
						regulator-always-on; // TEMPORARY
					};

					/* Touch supply (LDO3, 3.0V) */
					ldo3_reg: ldo3 {
						regulator-name = "vdd-touch";
						regulator-min-microvolt = <3300000>;
						regulator-max-microvolt = <3300000>;
						regulator-enable-ramp-delay = <3000>;
						ti,disable-pull-down;
					};

					/* Camera AVDD (LDO4, 2.7V) */
					ldo4 {
						regulator-name = "avdd-cam1";
						regulator-min-microvolt = <2700000>;
						regulator-max-microvolt = <2700000>;
					};

					/* DSI/CSI supply (LDO5, 1.2V) */
					ldo5_reg: ldo5 {
						regulator-name = "avdd-dsi-csi";
						//regulator-min-microvolt = <1200000>;
						//regulator-max-microvolt = <1200000>;
						regulator-always-on; // TEMPORARY
						regulator-boot-on; // TEMPORARY
					};

					/* Fuse blow (LDO6, 1.8V) */
					ldo6 {
						regulator-name = "vpp-fuse";
						regulator-min-microvolt = <1800000>;
						regulator-max-microvolt = <1800000>;
					};

					/* Camera AF VCM (LDO7, 2.7V) */
					ldo7 {
						regulator-name = "avdd-cam-af";
						regulator-min-microvolt = <2700000>;
						regulator-max-microvolt = <2700000>;
					};

					/* RTC supply (LDO8, 0.95V) */
					ldo8 {
						regulator-name = "vdd-rtc";
						regulator-min-microvolt = <950000>;
						regulator-max-microvolt = <950000>;
						regulator-always-on;
						regulator-boot-on;
						ti,enable-ldo8-tracking;
					};

					/* LDO9: variable 1.8/3.3 V for microSD I/O */
					ldo9 {
						regulator-name = "vddio-sdmmc-2";
						regulator-min-microvolt = <1800000>;
						regulator-max-microvolt = <3300000>;
					};

					/* LDOLN – HDMI / HV I/O supply */
					ldoln_reg: ldoln {
						regulator-name = "vddio-hv";
						// regulator-min-microvolt = <3300000>;
						// regulator-max-microvolt = <3300000>;
						regulator-always-on;
						regulator-boot-on;
					};

					/* LDOUSB – USB PHY AVDD 3.3 V */
					ldousb_reg: ldousb {
						regulator-name = "avdd-usb";
						// regulator-min-microvolt = <3300000>;
						// regulator-max-microvolt = <3300000>;
						regulator-always-on;
						regulator-boot-on;
					};
				};
			};

			rtc {
				compatible = "ti,palmas-rtc";
				interrupt-parent = <&palmas>;
				interrupts = <8 0>;
			};
		};
	};

	i2c@7000d100 {
		status = "okay";
		clock-frequency = <400000>;
	};

	pmc@7000e400 {
		// nvidia,invert-interrupt; --- Downstream uses it, but mainline gets crashed ?

		/* --- VERIFY THE VALUES --- */
		nvidia,suspend-mode = <1>;
		nvidia,cpu-pwr-good-time = <500>;
		nvidia,cpu-pwr-off-time = <300>;
		nvidia,core-pwr-good-time = <3845 3845>;
		nvidia,core-pwr-off-time = <2000>;
		nvidia,core-power-req-active-high;
		nvidia,sys-clock-req-active-high;
		core-supply = <&vdd_core>;

		/* Clear DEV_ON bit in DEV_CTRL register of TPS65913 PMIC  */
		i2c-thermtrip {
			nvidia,i2c-controller-id = <4>;
			nvidia,bus-addr = <0x58>;
			nvidia,reg-addr = <0xA0>;
			nvidia,reg-data = <0x00>;
		};
	};

	/* eMMC */
	sdmmc4: mmc@700b0600 {
		status = "okay";
		bus-width = <8>;
		non-removable;
	};

	/* CPU DFLL clock */
	clock@70110000 {
		status = "okay";
		nvidia,i2c-fs-rate = <400000>;
		vdd-cpu-supply = <&vdd_cpu>;
	};

	clk32k_in: clock-32k {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "ref-oscillator";
	};

	cpus {
		cpu@0 {
			vdd-cpu-supply = <&vdd_cpu>;
		};
	};

	extcon-keys {
		compatible = "gpio-keys";
		
		sw-lid {
			label = "Lid Switch";
			gpios = <&gpio TEGRA_GPIO(R, 4) GPIO_ACTIVE_LOW>;
			linux,code = <SW_LID>;
			linux,input-type = <EV_SW>;
			wakeup-source;
			debounce-interval = <300>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		key-power {
			label = "Power";
			gpios = <&gpio TEGRA_GPIO(Q, 0) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			debounce-interval = <10>;
			wakeup-source;
		};

		key-volume-down {
			label = "Volume Down";
			gpios = <&gpio TEGRA_GPIO(Q, 7) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
			debounce-interval = <10>;
		};

		key-volume-up {
			label = "Volume Up";
			gpios = <&gpio TEGRA_GPIO(Q, 6) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
			debounce-interval = <10>;
		};
	};

	// SHOULD BE CHECKED
	hda@70030000 {
		status = "okay";
	};

	vdd_ac_bat_reg: regulator-acbat {
		compatible = "regulator-fixed";
		regulator-name = "vdd_ac_bat";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};
	en_lcd_bl: regulator-lcden {
		compatible = "regulator-fixed";
		regulator-name = "en-lcd-bl";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-boot-on;
		gpio = <&gpio TEGRA_GPIO(H, 2) GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
	vddio_sd: regulator-sdmmc3 {
		compatible = "regulator-fixed";
		regulator-name = "vddio_sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio TEGRA_GPIO(R, 0) GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&palmas_smps9_reg>;
	};
	vddio_dvdd_lcd: regulator-lcd {
		compatible = "regulator-fixed";
		regulator-name = "vddio_dvdd_lcd";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&palmas_gpio 6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&palmas_smps8_reg>;
	};
	vdd_cam_af: regulator-cam {
		compatible = "regulator-fixed";
		regulator-name = "vdd_cam_af";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&palmas_gpio 4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&palmas_smps8_reg>;
	};
	vdd_hdmi_n5: regulator-hdmi {
		compatible = "regulator-fixed";
		regulator-name = "vdd-hdmi-n5";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		enable-active-high;
		gpio = <&gpio TEGRA_GPIO(N, 5) GPIO_ACTIVE_HIGH>;
		vin-supply = <&palmas_smps6_reg>;
	};
	vdd_hdmi_5v0: regulator-hdmicon {
		compatible = "regulator-fixed";
		regulator-name = "vdd_hdmi_5v0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio TEGRA_GPIO(K, 6) GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&palmas_smps10_out1_reg>;
	};
	vdd_ts_1v8: regulator-ts-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_ts_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&gpio TEGRA_GPIO(K, 1) GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&palmas_smps8_reg>;
	};
	avdd_ts_3v3: regulator-ts-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "avdd_ts_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&palmas_gpio 2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&ldo3_reg>;
	};
};
