/dts-v1/;

#include <dt-bindings/input/input.h>
#include "tegra124.dtsi"

/ {
	model = "NVIDIA SHIELD Tablet";
	compatible = "nvidia,tn8", "nvidia,tegra124";

	aliases {
		rtc0 = &palmas;
		rtc1 = "/rtc@0,7000e000";
	};

	chosen {
		bootargs = "console=tty1 gpt fbcon=rotate:2 earlyprintk clk_ignore_unused";
		linux,initrd-start = <0x81680000>;
		linux,initrd-end = <0x82800000>;
	};

	memory@80000000 {
		reg = <0x0 0x80000000 0x0 0x2d000000
		       0x0 0xae000000 0x0 0x30000000>;
	};

	// 32.768 kHz crystal oscillator
	clk32k_in: clock-32k {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "ref-oscillator";
	};

	// Pulse Width Modulator (PWM)
	pwm@7000a000 {
		status = "okay";
	};

	// GPIO keys
	gpio-keys {
		compatible = "gpio-keys";

		key-power {
			label = "Power";
			gpios = <&gpio TEGRA_GPIO(Q, 0) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			debounce-interval = <10>;
			wakeup-source;
		};

		key-volume-down {
			label = "Volume Down";
			gpios = <&gpio TEGRA_GPIO(Q, 7) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
			debounce-interval = <10>;
		};

		key-volume-up {
			label = "Volume Up";
			gpios = <&gpio TEGRA_GPIO(Q, 6) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
			debounce-interval = <10>;
		};
	};
	extcon-keys {
		compatible = "gpio-keys";

		// Cover / keyboard dock lid sense
		sw-lid {
			label = "Lid Switch";
			gpios = <&gpio TEGRA_GPIO(R, 4) GPIO_ACTIVE_LOW>;
			linux,code = <SW_LID>;
			linux,input-type = <EV_SW>;
			wakeup-source;
			debounce-interval = <300>;
		};
	};

	// High Definition Audio (HDA)
	hda@70030000 {
		status = "okay";
	};

	// ---------------- UNFINISHED ----------------

	i2c@7000c000 {
		status = "okay";
		clock-frequency = <100000>;
	};

	i2c@7000c400 {
		status = "okay";
		clock-frequency = <100000>;
	};

	i2c@7000d000 {
		status = "okay";
		clock-frequency = <400000>;

		palmas: pmic@58 {
			compatible = "ti,tps65913", "ti,palmas";
			reg = <0x58>;
			interrupts = <GIC_SPI 86 IRQ_TYPE_LEVEL_HIGH>;

			#interrupt-cells = <2>;
			interrupt-controller;

			ti,system-power-controller;

			palmas_gpio: gpio {
				compatible = "ti,palmas-gpio";
				gpio-controller;
				#gpio-cells = <2>;
			};

			// INSERT REGULATORS

			rtc {
				compatible = "ti,palmas-rtc";
				interrupt-parent = <&palmas>;
				interrupts = <8 0>;
			};
		};
	};

	// --- TO BE REMOVED ---

	framebuffer {
		compatible = "simple-framebuffer";
		reg = <0x0 0xad012000 0x0 (1216 * 1920 * 4)>;
		width = <1200>;
		height = <1920>;
		stride = <(1216 * 4)>;
		format = "a8b8g8r8";
	};
};

